@using SDGApp.Helpers
@{
   
    SDGApp.Models.BaseModel BM = new SDGApp.Models.BaseModel();

    ViewBag.Title = "Organisation";
}




@{Html.RenderPartial("_Breadcrumbs"); }

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section id="divcompanylist" class="panel">

            @{ Html.RenderAction("CompanyList", "Company", new { PageNumber = 1, PageSize = GlobalConstants.PageSize });}

        </section>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
      fnSelectMenuActive('setup', 'managecompany');

        function loadrecordlist(pagenumber) {
            var pagesize = parseInt($('select#ddlPageSize').val());
            var url = '@Url.Action("CompanyList", "Company")';
            $('#divcompanylist').load(
                url + "?PageNumber=" + pagenumber + "&PageSize=" + pagesize
            );
        }

    </script>

}