
@{
    ViewBag.Title = "Index";
}

@{Html.RenderPartial("_Breadcrumbs"); }

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="success-message">
                @if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    @ViewBag.SuccessMessage
                }
            </div>
            <div class="panel-body">
                <div class="tab-content tasi-tab">
                    <div id="overview" class="tab-pane active">
                        <section class="panel">
                        </section>
                        <div class="panel" id="">
                            @*@{Html.RenderAction("TagCategoryList", "TagCategory", new { PageNumber = 1, PageSize = GlobalConstants.PageSize });}*@

                            @{Html.RenderAction("TagLabelsList", "TagCategory", new { PageNumber = 1, PageSize = GlobalConstants.PageSize });}

                        </div>
                    </div>
                    <div id="job-history" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        // select menu
        fnSelectMenuActive('tags', 'taglabels');

        function loadrecordlist(pagenumber) {
            var pagesize = parseInt($('select#ddlPageSize').val());
            var url = '@Url.Action("TagCategoryList", "TagCategory")';
            $('#divtagcategorylist').load(
                url + "?PageNumber=" + pagenumber + "&PageSize=" + pagesize
            );
        }
    </script>
    <!-- select left menu-->
}

