@using SDGApp.Helpers
@{
    ViewBag.Title = "Manage Feedback";
    SDGApp.Models.BaseModel BM = new SDGApp.Models.BaseModel();

    String title = "Feedback List";
}
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel">

            @*<input type="hidden" id="checkdefaulttrueorfalseforcompany" value="false" />*@



            <div class="alert-danger failure-message">
                @if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    @ViewBag.ErrorMessage
                }
            </div>
            <div class="alert-success success-message">
                @if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    @ViewBag.SuccessMessage
                }
            </div>
            <div class="panel-body user-choose">
                <input type="hidden" id="hdnpagename" value="Feedback" />
                @*@{Html.RenderAction("Search", "Company", new { SearchType = ShopperRecognitionSystem.Helpers.Utility.Modules.Company });}*@
                @*@{Html.RenderAction("Search", "Company", new { });}*@
                @*<div id="dvResultList"></div>*@

                <div id="divfeedbacklist">
                    @{  Html.RenderAction("FeedbackList", "Feedback", new { PageNumber = 1, PageSize = GlobalConstants.PageSize });}
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        //selectleftmenu('managecompany', '');
        selectleftmenu('managefeedback', 'setup');
        function loadrecordlist(pagenumber) {
            var pagesize = parseInt($('select#ddlPageSize').val());
            var url = '@Url.Action("FeedbackList", "Feedback")';
            $('#divfeedbacklist').load(
                url + "?PageNumber=" + pagenumber + "&PageSize=" + pagesize
            );
        }




    </script>

}


