<!--mini statistics start-->
<div id="dvLatestMeasurement" class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
            <div class="mini-stat-info">
                <span>@ViewBag.HR</span>
                HR(bpm)
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon tar"><i class="fa fa-medkit" aria-hidden="true"></i></span>
            <div class="mini-stat-info">
                <span>@ViewBag.HRV</span>
                HRV
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon pink"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
            <div class="mini-stat-info">
                <span>@ViewBag.BP</span>
                BP(mmHg)
            </div>
        </div>
    </div>
    @*<div class="col-lg-3 col-md-6 col-sm-12">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon green"><i class="fa fa-child" aria-hidden="true"></i></span>
            <div class="mini-stat-info">
                <span>@ViewBag.Calories</span>
                Calories
            </div>
        </div>
    </div>*@
</div>
<!--mini statistics end-->