

<li>
    <a class="text-success" href="javascript:;">
        <i class="fa fa-stethoscope fa-lg"></i> HR (bpm)
        <span class="badge label-default label-success pull-right r-activity">@ViewBag.HR</span>
    </a>
</li>
<li>
    <a class="text-warning" href="javascript:;">
        <i class="fa fa-medkit fa-lg"></i> HRV
        <span class="badge label-default label-warning pull-right r-activity">@ViewBag.HRV</span>
    </a>
</li>
<li>
    <a class="text-primary" href="javascript:;">
        <i class="fa fa-heartbeat fa-lg"></i> BP (mmHg)
        <span class="badge label-default label-primary pull-right r-activity">@ViewBag.BP</span>
    </a>
</li>